.canvas {
  position: absolute;
  z-index: 1;
  background-color: black;
  border-radius: 12%;
  box-shadow: 0px 0px 5px 1px white
}

.container {
  position: relative;
  background-color: black;
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  padding-left: 5%;
  padding-top: 1%;
}

.node-container {
  position: absolute;
  z-index: 3;
}

.arrow-container {
  position: absolute;
  z-index: 2
}