.node-main {
  position: absolute;
  z-index: 3;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  transition: width 0.1s, height 0.5s;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0px 0px 10px 3px white;
  color: white;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

.node-main:hover, .node-main-active {
  width: 34px;
  height: 34px;
  border: 3px solid yellow;
  background-color: rgb(0, 255, 255);
  box-shadow: 0px 0px 10px 3px yellow;
}

.node-main-visited {
  width: 32px;
  height: 32px;
  border: 3px solid rgb(0, 168, 168);
  background-color: rgb(0, 121, 121);
  box-shadow: 0 0 5px 0.5px rgb(0, 168, 168);
}

.node-main-visited-2 {
  width: 32px;
  height: 32px;
  border: 3px solid rgb(106, 228, 132);
  background-color: rgb(56, 230, 94);
  box-shadow: 0px 0px 5px 0.5px rgb(106, 228, 132);
}

.node-main:active {
  position: absolute;
  z-index: 3;
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  transition: width 0.1s, height 0.5s;
  border-radius: 50%;
  border: 3px solid yellow;
  background-color: rgb(0, 255, 255);
  box-shadow: 0px 0px 10px 3px yellow;
  cursor: pointer;
  text-decoration: none;
}